*.pyc
*.DS_Store*
**/*.egg-info/*
data/ShapeGraph/unzipped
data/ShapeGraph/new_unzipped
data/ShapeGraph/SG_heterophilic.pickle
data/ShapeGraph/SG_homophilic.pickle
*.out
*.err
formal/ShapeGraph/bigSG_explanations
formal/realworld/mutag/EXPS
formal/realworld/mutag/EXPS_old
formal/realworld/fc/EXPS
formal/realworld/benzene/EXPS
old
*__pycache__*
graphxai/gnn_ex_eval
.git-rewrite
docs
*.icloud
