*.pyc
.DS_Store
**/*.egg-info/*
data/ShapeGraph/unzipped
data/ShapeGraph/new_unzipped
data/ShapeGraph/SG_heterophilic.pickle
data/ShapeGraph/SG_homophilic.pickle
*.out
*.err
formal/ShapeGraph/owen_benchmarks/results
formal/ShapeGraph/bigSG_explanations
